<!DOCTYPE html>
<html lang="en">
<head>
    <title>menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pixelart</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>
  
    <div class="menu">
        <ul>

            <li><a href="profile.html" class="btn-retro">客户</a></li>
            <li><a href="level.html" class="btn-retro">开始</a></li>
            <li><a href="ranking.html" class="btn-retro">排名</a></li>
            <li><a href="message.html" class="btn-retro">信封</a></li>
            <li><button id="music_button" onclick="play_music()" class="btn-retro">音乐</button></li>
        </ul>
    </div>

    <audio id="music-player" autoplay>
        <source src="../audio/index.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../js/menu.js"></script>
</body>
</html>
