<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <title>sign_in</title>
  </head>

  <body>
    <form id="signInForm">
      <input type="text" id="username" name="username" placeholder="username" required>
      <input type="password" id="password" name="password" placeholder="password" required>
      <select id="gender" name="gender">
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <button type="submit">sign_in</button>
    </form>
    <a href="log_in.html">log_in</a>
    <script src="../js/index.js"></script>
  </body>
</html>